src/main/mule/flows/delete-issue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jira="http://www.mulesoft.org/schema/mule/jira" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/current/mule-jira.xsd">
	<flow name="delete:\issue\(id):jira-connection-config" doc:id="bbaefb60-c4db-4651-afea-d64fa8f873fa" >
		<logger level="INFO" doc:name="Logger" doc:id="6237238d-3eb9-4339-9c7b-6707d33e1496" message="#[payload]" category="init"/>
		<jira:delete-rest-api3-issue-by-issue-id-or-key doc:name="Delete Issue" doc:id="33951e00-39b0-4ac7-9727-9be3a7ca4a95" config-ref="Jira_Connector_Config" issueIdOrKey='#[attributes.queryParams."issueId"]'/>
		<ee:transform doc:name="Transform Message1" doc:id="0d9f1782-2b5b-44db-868f-86b80479b62f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9209c47d-6441-4c25-887f-2596fe5aee98" message="#[payload]" category="end"/>
	</flow>
</mule>
