src/main/mule/flows/edit-issue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jira="http://www.mulesoft.org/schema/mule/jira" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/current/mule-jira.xsd">
	<flow name="put:\issue\(id):application\json:jira-connection-config" doc:id="d6b20b2c-084f-43d4-8a84-b7e2ad7b2f31" >
		<logger level="INFO" doc:name="Logger" doc:id="f6645cb0-feaf-4ba2-a4a7-63d710a32171" message="#[payload]" category="init"/>
		<jira:update-rest-api3-issue-by-issue-id-or-key doc:name="Edit Issue" doc:id="0d932e08-7c69-4cba-8ab5-bfac4106744b" config-ref="Jira_Connector_Config" issueIdOrKey="#[attributes.uriParams.'id']"/>
		<logger level="INFO" doc:name="Logger" doc:id="527756c4-c87c-4e6c-ba38-a50d5e505ad0" message="#[payload]" category="end"/>
	</flow>
</mule>
