src/main/mule/flows/post-issue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jira="http://www.mulesoft.org/schema/mule/jira" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/current/mule-jira.xsd">
	<flow name="post:\issue:jira-connection-config" doc:id="a625cae5-d5dc-41f7-b62a-62ddeae998ac" >
		<logger level="INFO" doc:name="Logger" doc:id="712b4fd3-b022-4406-a1a5-4cf73239c633" message="inicio do fluxo " category="init"/>
		<jira:create-rest-api3-issue doc:name="Create Issue" doc:id="446699cd-b2e5-499b-a5cb-345db4db1547" config-ref="Jira_Connector_Config">
			<jira:issue-update-details-content ><![CDATA[#[{
  "fields": {
    "project": {
      "key": payload.key
    },
    "summary": payload.summary,
    "description": {
      "type": "doc",
      "version": 1,
      "content": [
        {
          "type": "paragraph",
          "content": [
            {
              "type": "text",
              "text": payload.description
            }
          ]
        }
      ]
    },
    "issuetype": {
      "name": payload.issueType
    }
  }
}]]]></jira:issue-update-details-content>
		</jira:create-rest-api3-issue>
		<logger level="INFO" doc:name="Logger" doc:id="ad95d9c6-602b-4994-bcfc-c8b4caf82e0c" message="#[payload]" category="end"/>
	</flow>
</mule>
